<h1>Your Order</h1>

<div class = "depot_form">
	<fieldset>
		<legend>Please Enter Your Details</legend>
		<%= render 'form', order: @order %>
	</fieldset>
</div>

<%= link_to 'Cancel', store_index_path, data: {confirm: 'Are you sure?' } %>
